@import 'variable';
@import 'mixins';
/* This is an example of using Sass, otherwise plain CSS works too*/


body {
  background: #EFEFEF;
  width: 100%;
  margin: 0;
}

/*~~~~~~~Header~~~~~~*/

header {
  color: $main-text-color;
  height: 300px;
  @include flexBox(row, space-between, center);
  @include fontSize(3em);
  background: $secondary-color;
}

.logo{
  text-decoration: none;

    &:visited {
      color: $main-text-color;
    }
}

/*~~~~~~MAIN~~~~~~*/


